version: '3.8'
services:
  server:
    build:
      context: .
      dockerfile: server/Dockerfile
    env_file:
      - server/.env
    ports:
      - "5000:5000"
  client:
    build:
      context: .
      dockerfile: client/Dockerfile
    ports:
      - "3000:80"
    depends_on:
      - server
